BR2_arm=y
BR2_arm1176jzf_s=y
BR2_ARM_EABI=y
BR2_DL_DIR="$(TOPDIR)/../dl"
BR2_KERNEL_MIRROR="https://www.kernel.org/pub"
BR2_GNU_MIRROR="http://ftp.gnu.org/pub/gnu"
# BR2_COMPILER_PARANOID_UNSAFE_PATH is not set
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_4_4=y
BR2_GCC_VERSION_6_X=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_TARGET_GENERIC_HOSTNAME=""
BR2_TARGET_GENERIC_ISSUE="Welcome to BrBox"
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
BR2_TARGET_GENERIC_GETTY_PORT="tty1"
# BR2_TARGET_GENERIC_REMOUNT_ROOTFS_RW is not set
BR2_ROOTFS_OVERLAY="$(TOPDIR)/../disk_skeleton"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(TOPDIR)/../scripts/brbox-post-build.sh"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="git://github.com/raspberrypi/linux.git"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="26f3b72a9c049be10e6af196252283e1f6ab9d1f"
#BR2_LINUX_KERNEL_PATCH="$(TOPDIR)/../configs/raspi1-disptst/kernel-patches/"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(TOPDIR)/board/raspberrypi/linux.config"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="bcm2708-rpi-b-plus"
BR2_LINUX_KERNEL_INSTALL_TARGET=y
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=y
BR2_PACKAGE_FFMPEG=y
BR2_PACKAGE_FFMPEG_SWSCALE=y
BR2_PACKAGE_BZIP2=y
BR2_PACKAGE_STRESS=y
BR2_PACKAGE_E2FSPROGS=y
BR2_PACKAGE_RPI_FIRMWARE=y
BR2_PACKAGE_I2C_TOOLS=y
BR2_PACKAGE_LM_SENSORS=y
BR2_PACKAGE_OPENSSL=y
BR2_PACKAGE_ATK=y
BR2_PACKAGE_CAIRO_PS=y
BR2_PACKAGE_CAIRO_SVG=y
BR2_PACKAGE_GDK_PIXBUF=y
BR2_PACKAGE_OPENCV=y
# BR2_PACKAGE_OPENCV_LIB_LEGACY is not set
BR2_PACKAGE_OPENCV_WITH_JPEG=y
BR2_PACKAGE_OPENCV_WITH_PNG=y
BR2_PACKAGE_OPENCV_WITH_V4L=y
BR2_PACKAGE_PANGO=y
BR2_PACKAGE_LIBV4L=y
BR2_PACKAGE_LIBV4L_UTILS=y
BR2_PACKAGE_LIBCGICC=y
BR2_PACKAGE_LIBPCAP=y
BR2_PACKAGE_LIBWEBSOCKETS=y
BR2_PACKAGE_AVAHI=y
# BR2_PACKAGE_AVAHI_AUTOIPD is not set
BR2_PACKAGE_AVAHI_DAEMON=y
BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_ETHTOOL=y
BR2_PACKAGE_IFPLUGD=y
BR2_PACKAGE_IPERF=y
BR2_PACKAGE_LIGHTTPD=y
BR2_PACKAGE_LIGHTTPD_PCRE=y
BR2_PACKAGE_FILE=y
BR2_PACKAGE_SCREEN=y
BR2_TARGET_BRBOX_PACKAGES=y
BR2_TARGET_BRBOX_COMMON=y
BR2_PACKAGE_HOST_BRBOX_MKIMAGE=y
BR2_PACKAGE_BRBOX_LIGHTYCONFIG=y
BR2_PACKAGE_BRBOX_RASPI2_UPDATE=y
BR2_PACKAGE_BRBOX_RASPI2_MOUNT=y
BR2_PACKAGE_BRBOX_GPIOMGR=y
BR2_PACKAGE_BRBOX_SMARTEYE=y
BR2_PACKAGE_BRBOX_BBOXSMS=y
BR2_PACKAGE_BRBOX_XMPROXY=y
BR2_PACKAGE_BRBOX_APISRV=y
#BR2_PACKAGE_BRBOX_GENINTRDRV=y
BR2_PACKAGE_BRBOX_I2CSRV=y
BR2_PACKAGE_BRBOX_I2CSRV_INIT_ORDER="75"
BR2_PACKAGE_BRBOX_DISPSRV=y
BR2_PACKAGE_BRBOX_LIGHTSENSE=y
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_3=y
BR2_TARGET_ROOTFS_EXT2_BLOCKS=126976
BR2_TARGET_ROOTFS_TAR_XZ=y
